@import "../../../assets/scss/master";

.set-password-container {
}

.set-password-header {
  border-bottom: 1px solid;
  display: flex;

  img {
    height: 100px;
  }
}

.set-password {
  display: flex;
  flex-direction: column;
  padding-left: 21px;
  padding-top: 10px;
  text-align: left;

  span:nth-child(2) {
    font-size: 0.6rem;
    padding-top: 10px;
  }
}

.set-password__tag {
  color: $heading-green;
}

.enter-password-and-description {
  align-items: flex-start;
  display: flex;
  padding-top: 45px;

  p {
    border: 1px solid;
    border-radius: 5px;
    font-size: 0.6rem;
    margin-top: 22px;
    padding: 15px;

    width: 60%;
  }
}

.enter-and-conform-password {
  display: flex;
  flex-direction: column;
  width: 35%;

  input {
    border: 1px solid;
    border-radius: 5px;
    width: 80%;
  }
  span {
    font-size: 0.6rem;
    padding-bottom: 5px;
  }
}

.enter-and-conform-password__confirm {
  padding-top: 23px;
}

.confirm-btn {
  background-color: #fe8e34;
  border-radius: 5px;
  color: $white;
  font-size: 0.7rem;
  margin-top: 25px;
  padding: 8px;
  text-transform: uppercase;
  width: 150px;
}

.error-message {
  color: red;
  padding-top: 10px;
}
