@import "../../../assets/scss/master";

.reset-password-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 30px;
  background: url("../../../assets/images/login.jpg");
  background-size: cover;
  // min-height: 730px;
  input {
    color: #000000;
  }
}

.reset-password-container__reset-password-header {
  color: $white;
}

.reset-password-container .reset * input[type="text"] {
  //width: 80%;
}

.reset-password-container .reset .help-text {
  font-size: 0.6rem;
}

.reset-password-container .reset .help-text {
  font-size: 0.6rem;
}

.reset .reset-form .send-reset-link {
  font-size: 0.6rem;
}

.reset {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.help-text {
  color: $white;
  font-size: 0.6rem;
  line-height: 1.4;
  padding-top: 18px;
}

.reset-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  text-align: center;
  width: 100%;

  span {
    color: $white;
    cursor: pointer;
    padding-top: 10px;
  }
}

.reset-form > div {
  width: 90%;
}

.send-reset-link {
  margin-top: 75px;
  width: 50%;
}
